exclude .gitignore
exclude .coverage
exclude .travis.yml
include README.rst
include setup.cfg
include wave
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
